<h1>Cocktails</h1>


<p> <%= @cocktail.name %></p>
<% @cocktail.doses.each do |dose| %>
<p> <%= dose.description %> <%= dose.ingredient.name %>

<%= link_to "Delete", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</p>
<% end %>


<p> <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %></p>
<p> <%= link_to "Go back to all cocktails", root_path %></p>

